/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	border: 0;
  padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----End Reset Css-----*/

.contenedor{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    min-width: 390px;
  /*  background-color: #f3f2f2;*/

}

.encabezado{
    height: 72px;
    background-color: #de0108;
    padding: 0;
    z-index: 9999;
    transition: all .3s;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
}

header{
    overflow: hidden;
    padding-left:  15px;
    display: flex;
    flex-flow: row;
    text-transform: uppercase;
    justify-content: space-between;
    height:100%;
    width: 100%;
    align-items: center;

}

#logo{
    width: 170px;
    height: 40px;
    padding-left: 15px;

}
#logo img{

    max-width: 100%;
   /**  height: auto;
   float: left;**/
}

.portada{
    background: url(../img/banner_home__RED_SALE_CO.jpg);
    background-repeat: no-repeat;
    background-position: center ;
  /*  background-size: 100% 100%;
    background-attachment: fixed;*/
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.portada::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: -1;
}

.contenedor-portada{
    width: 100%;
}

.informacion{
    float:right;
    color: #fff;
    width: 40%;
    line-height: normal;
    padding: 10px 0px;
    text-align: left;
    padding-right: 15px;
    text-shadow: 0 0 1px black;

}

#viaja{
    font-size: 2.25rem;
    line-height: 40px;
    width: 100%;
    padding-right: 0px;
    font-weight: bold;
}
#ida{
    width: 100%;
    padding-right: 0px;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
}

#compraya{
    margin: 0px;
    background: #de0108;
    color: #fff;
    width: 35%;
    text-shadow: none;
    padding: 16px 24px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

}

#compraya:hover{
    background: #750004;
}

#compraya a{
    color: #fff;
    font-size: medium;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
}

.partedos{
   
    top: -105px;
    display: flex;
    z-index: 1;
    position: relative;
    flex-wrap: wrap;

}
form{
    
    position: relative;
    z-index: 1;
    flex: 60%;
    margin: 10px;
    box-shadow: 0 0 10px #969696;
    background: #fff;
    height: auto;
    border-radius: 5px 5px 5px 5px;
    margin-left: 15px;
    flex-wrap: wrap;
    display: flex;

}

fieldset{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
}

legend{
    margin-bottom: 10px;
}

legend h3{
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: 900;
    color: #323237;
}
.completar{
    display: flex;
}

.form-control{
    font-size: 1.125rem;
    line-height: 24px;
    height: 34px;
    padding: 0;
    transition: all .3s ease-out;
    background: no-repeat center bottom,center calc(99%);
    background-image: linear-gradient(0,#007aa6 2px,rgba(63,81,181,0) 0),linear-gradient(0,#969696 1px,transparent 0);
    background-size: 0 100%,100% 110%;
    box-shadow: none;
    border-radius: 0;
    text-overflow: ellipsis;
    width: 40%;
    display: flex;
    margin-right: 10px;

}
input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.pie-form{
    
    background-color: #f3f2f2;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 0 0 5px 5px;
    display: flex;
    width: 100%;
}
.fechas{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
}

.fechas label{
    font-size: .875rem;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 12px;
    color: #505055;
    position: relative;
    transition: all .3s ease-in;
    font-weight: bold;
    padding-left: 32px;

}
.check-box input{
    position: absolute;
    cursor: pointer;
    top: -4px;
    left: 0;
    width: 24px;
    height: 24px;
    margin: 0;

}
.buscarvuelo{
    display: flex;
}

#buscarvuelo{
    margin: 0px;
    background: #de0108;
    color: #fff;
    width: 35%;
    text-shadow: none;
    padding: 16px 24px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

}
#buscarvuelo:hover{
    background: #750004;
}


#buscarvuelo a{
    color: #fff;
    font-size: medium;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    vertical-align: middle;
}
aside{
   /* top:-100px;*/
    flex: 32%;
    margin: 10px;
    background-color: #fff;
    z-index: 1;
    position: relative;
    margin: 10px;
    margin-right: 15px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #969696;
    color: #323237;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.imagen-aside img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px  0  0;
}

.descripcion{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
}

.descripcion h3{
    font-size: 1.50rem;
    line-height: 1.2;
    font-weight: 800;
}

.descripcion p{
    margin-top: 10px;
    line-height: 1.25;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.vermas{
    display: flex;
    margin: 0px auto;
    background: #de0108;
    color: #fff;
    width: 25%;
    text-shadow: none;
    padding: 16px 24px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.vermas:hover{
    background: #750004;
}


.vermas a{
    color: #fff;
    font-size: medium;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 auto;
}

.tarjetas{
   
    top: -111px;
    position: relative;
    display: flex;
    background-color: #f3f2f2;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column;
}

.primer-texto{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.primer-texto h2{
    color: #1b1b1b;
    font-size: 1.875rem;
    line-height: 1.07;
    font-weight: bold;
    margin-bottom: 4px;
}

.contenedor-tarjetas{
    padding-left: 15px;
    padding-right: 15px;
}
.contenedor-tarjetas a{
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
}

.tarjeta{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    border: 2px solid #dedddd;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-width: 2px;
    margin-bottom: 16px;
    color: #343e5b;
}

.ciudades{
    width: 40%;
    font-size: 1rem;
    font-weight: bold;
}

#ciudad1{
    margin-bottom: 8px;
}

.idayvuelta{
    width: 30%;
}

.precio{
    font-size: 1.3rem;
    font-weight: bold;
}
.footer-avianca{
    display: flex;
    position: relative;
    top: -111px;
    justify-content: space-between;
    width: 100%;
    padding-top: 33px;
    padding-bottom: 24px;
}

.contenedor-footer-avianca{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logo-izquierda{
    display: flex;
  
}
.img-logo{
    height: 20px;
}

.img-logo #logo-star {
    width: 177px;
    height: 17px;
}
.footer-derechos{
    position: relative;
    top:-111px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #f3f2f2;
}

.contenedor-footer{
    margin: 0px auto;
}

.derechos p{
    font-size: .75rem;
    color: #323237;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
}

.contactanos{
    position: relative;
    top: -111px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    width: 100%;
}

.texto-contactanos{
    display: flex;
    color: #323237;
    font-size: larger;
}
.texto-contactanos p{
    justify-content: center;
    vertical-align: middle;
}


.icono{
    width: 22px;
    height: 32px;
}
.redes-sociales{
    flex-wrap: wrap;
    display: flex;
}
.redes-sociales a{
    text-decoration: none;
    background: #505055;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    margin-bottom: 4px;
}
.raya{
    height: 2px;
    width: 100%;
    background: #505055;
    position: relative;
    top:-111px;
    margin-left: 20px;
    margin-right: 20px;
   
}