/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	border: 0;
  padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----End Reset Css-----*/

.contenedor{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    min-width: 390px;

}

.encabezado{
    height: 72px;
    background-color: #de0108;
    padding: 0;
    z-index: 9999;
    transition: all .3s;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
}

header{
    overflow: hidden;
    padding-left:  15px;
    display: flex;
    flex-flow: row;
    text-transform: uppercase;
    justify-content: space-between;
    height:100%;
    width: 100%;
    align-items: center;

}

#logo{
    width: 170px;
    height: 40px;
    padding-left: 15px;

}
#logo img{

    max-width: 100%;
   /**  height: auto;
   float: left;**/
}

.portada{
    background: url(../img/banner_home__RED_SALE_CO.jpg);
    background-repeat: no-repeat;
    background-position: center ;
  /*  background-size: 100% 100%;
    background-attachment: fixed;*/
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.portada::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: -1;
}

.contenedor-portada{
    width: 100%;
}

.informacion{
    float:right;
    color: #fff;
    width: 40%;
    line-height: normal;
    padding: 10px 0px;
    text-align: left;
    padding-right: 15px;
    text-shadow: 0 0 1px black;

}

#viaja{
    font-size: 2.25rem;
    line-height: 40px;
    width: 100%;
    padding-right: 0px;
    font-weight: bold;
}
#ida{
    width: 100%;
    padding-right: 0px;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
}

#compraya{
    margin: 0px;
    background: #de0108;
    color: #fff;
    width: 35%;
    text-shadow: none;
    padding: 16px 24px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

}

#compraya:hover{
    background: #750004;
}

#compraya a{
    color: #fff;
    font-size: medium;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
}

form{
    top:-100px;
    position: relative;
    z-index: 1;
    flex: 60%;
    margin: 10px;
    box-shadow: 0 0 10px #969696;
    background: #fff;
    height: auto;
    border-radius: 5px 5px 5px 5px;
    margin-left: 15px;

}

fieldset{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
}

legend{
    margin-bottom: 10px;
}

legend h3{
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: 900;
    color: #323237;
}
.completar{
    display: flex;
}

.form-control{
    font-size: 1.125rem;
    line-height: 24px;
    height: 34px;
    padding: 0;
    transition: all .3s ease-out;
    background: no-repeat center bottom,center calc(99%);
    background-image: linear-gradient(0,#007aa6 2px,rgba(63,81,181,0) 0),linear-gradient(0,#969696 1px,transparent 0);
    background-size: 0 100%,100% 110%;
    box-shadow: none;
    border-radius: 0;
    text-overflow: ellipsis;
    width: 40%;
    display: flex;
    margin-right: 10px;

}
input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.pie-form{
    
    background-color: #f3f2f2;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 0 0 5px 5px;
    display: flex;
}
.fechas{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
}

.fechas label{
    font-size: .875rem;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 12px;
    color: #505055;
    position: relative;
    transition: all .3s ease-in;
    font-weight: bold;
    padding-left: 32px;

}
.check-box input{
    position: absolute;
    cursor: pointer;
    top: -4px;
    left: 0;
    width: 24px;
    height: 24px;
    margin: 0;

}
.buscarvuelo{
    display: flex;
}

#buscarvuelo{
    margin: 0px;
    background: #de0108;
    color: #fff;
    width: 35%;
    text-shadow: none;
    padding: 16px 24px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

}
#buscarvuelo:hover{
    background: #750004;
}


#buscarvuelo a{
    color: #fff;
    font-size: medium;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    vertical-align: middle;
}
aside{
    top:-100px;
    flex: 32%;
    margin: 10px;
    background-color: #0066b2;
    z-index: 1;
    position: relative;
    margin: 10px;
    margin-right: 15px;
}
.imagen-aside img{
    width: 100%;
    height: 100%;
}