/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	border: 0;
  padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----End Reset Css-----*/

.contenedor{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    min-width: 390px;

}

.encabezado{
    height: 72px;
    background-color: #de0108;
    padding: 0;
    z-index: 9999;
    transition: all .3s;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
}

header{
    overflow: hidden;
    padding-left:  15px;
    display: flex;
    flex-flow: row;
    text-transform: uppercase;
    justify-content: space-between;
    height:100%;
    width: 100%;
    align-items: center;

}

#logo{
    width: 170px;
    height: 40px;
    padding-left: 15px;

}
#logo img{

    max-width: 100%;
   /**  height: auto;
   float: left;**/
}

.portada{
    background: url(../img/banner_home__RED_SALE_CO.jpg);
    background-repeat: no-repeat;
    background-position: center ;
  /*  background-size: 100% 100%;
    background-attachment: fixed;*/
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.portada::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: -1;
}

.contenedor-portada{
    width: 100%;
}

.informacion{
    float:right;
    color: #fff;
    width: 40%;
    line-height: normal;
    padding: 10px 0px;
    text-align: left;
    padding-right: 15px;
    text-shadow: 0 0 1px black;

}

#viaja{
    font-size: 2.25rem;
    line-height: 40px;
    width: 100%;
    padding-right: 0px;
    font-weight: bold;
}
#ida{
    width: 100%;
    padding-right: 0px;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
}